<div class="d-flex flex-column bg-dark text-white" style="width: 80px;"> <!-- Adjust width as needed -->
    <button class="btn btn-dark mb-2" (click)="addNewWorkspace()">
      <i class="bi bi-plus-circle-fill d-block mx-auto"></i>
    </button>
    <button class="btn btn-dark mb-2" (click)="openSearch()">
      <i class="bi bi-search d-block mx-auto"></i>
    </button>
    <button class="btn btn-dark mb-2" (click)="openSettings()">
      <i class="bi bi-gear-fill d-block mx-auto"></i>
    </button>
    <button class="btn btn-dark" (click)="openProfile()">
      <i class="bi bi-person-circle d-block mx-auto"></i>
    </button>
  </div>